@import "./src/styles/variables";

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 60px;

    background-color: $mainColor;
    color: #FFFFFF;

    font-size: 18px;
    font-weight: bolder;

    padding-left: 20px;
}

.input_block {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 70px;

    border-top: #999999 2px solid;
}

.input {
    border: $mainColor 2px solid;
    border-radius: 8px;

    height: 40px;
    width: 85%;

    padding: 0 10px;

    transition: 0.2s all;

    &:focus {
        outline: none;
        transform: scale(1.04);
    }

    &::placeholder {
        font-size: 14px;
    }
}

.send {
    width: 40px;
    height: 40px;

    background: url("./send.svg") center no-repeat;
    background-size: cover;

    border-radius: 50%;
    border: 0;

    transition: 0.2s all;

    &:hover {
        transform: translateY(-2px);
    }
}