@import "./src/styles/variables";

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 60px;

    background-color: $mainColor;
    color: #FFFFFF;

    font-size: 18px;
    font-weight: bolder;

    padding-left: 20px;
}